<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <script src="https://cdn.tailwindcss.com"></script>
<style>
  #overlay{
    display: none;
  }
</style>

</head>
<body class="bg-gray-100">

<div class="container mx-auto mt-8">
  <h1 class="text-3xl font-semibold mb-4 ml-5">Admin Page</h1>

  <a th:href="@{/}" class="ml-5">< Go Home</a>

  <div class="border border-gray-300 p-4 m-10 ml-20 mr-20 rounded">
    <form id="updateForm" th:action="@{/admin-page}" th:method="put">
      <input type="hidden" id="updateUserId" th:name="id" />

      <div class="mb-4">
        <label for="updateUsername" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
        <input class="border border-2 border-gray-300 px-3 py-2 w-full" type="text" id="updateUsername" th:name="username" placeholder="Edit username...">
      </div>

      <div class="mb-4">
        <label for="updateUserPassword" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
        <input class="border border-2 border-gray-300 px-3 py-2 w-full" type="password" id="updateUserPassword" th:name="password" placeholder="Edit password...">
      </div>

      <div class="mb-4">
        <label for="updateUserRole" class="block text-gray-700 text-sm font-bold mb-2">Role:</label>
        <select class="border border-2 border-gray-300 px-3 py-2 w-full" id="updateUserRole" th:name="role">
          <option value="ADMIN" th:selected="${userModel.role == 'ADMIN'}">Admin</option>
          <option value="USER" th:selected="${userModel.role == 'USER'}">User</option>
        </select>
      </div>

      <!-- TODO - update  AccountNonExpired those not work!-->

      <div class="mb-4">
        <label for="updateUserAccountNonExpired" class="block text-gray-700 text-sm font-bold mb-2">Account Non-Expired:</label>
        <select class="border border-2 border-gray-300 px-3 py-2 w-full" id="updateUserAccountNonExpired" th:name="accountNonExpired">
          <option value="true" th:selected="${userModel.accountNonExpired} == true">True</option>
          <option value="false" th:selected="${userModel.accountNonExpired} == false">False</option>
        </select>
      </div>

      <div class="flex justify-center">
      <button class="border border-black h-[39px] p-2 pl-5 pr-5 rounded-lg bg-blue-500 text-white hover:bg-blue-600"
              type="submit" name="action" value="put">Update</button>
      </div>
    </form>
  </div>

  <!-- User List -->
  <div class="pl-10 pr-10">
    <h2 class="text-xl font-semibold mb-2">User List</h2>

    <!-- User Card -->
    <div class="bg-white p-4 rounded shadow-md mb-4"
         th:each="userModel: ${userList}">
      <div class="flex items-center justify-between">
        <span class="text-lg font-semibold"
              th:text="${userModel.username}"></span>
        <span class="text-lg font-semibold"
              th:text="${userModel.id}"></span>
        <div class="space-x-2 flex">

          <form th:action="@{/admin-page}" method="post">
            <input type="hidden" th:name="id" th:value="${userModel.id}">
            <button class="bg-red-500 text-white px-4 py-2 rounded" type="submit" name="action" value="delete">Delete</button>
          </form>

          <button type="button" th:attr="onclick='openEditForm(\'' + ${userModel.id} + '\', \'' + ${userModel.username} + '\', \'' + ${userModel.password} + '\', \'' + ${userModel.role} + '\', \'' + ${userModel.accountNonExpired} + '\')'"
                  class="bg-blue-500 text-white px-4 py-2 rounded">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function openEditForm(userId, username, password, role, accountNonExpired) {
        document.getElementById('updateUserId').value = userId;
        document.getElementById('updateUsername').value = username;
        document.getElementById('updateUserPassword').value = password;
        document.getElementById('updateUserRole').value = role;
        document.getElementById('updateUserAccountNonExpired').value = accountNonExpired.toString();

        window.scrollTo({
        top: 0,
        behavior: 'smooth' // Optional: Adds smooth scrolling effect
    });
    }
</script>
</body>
</html>