<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<h1>Register User Page</h1>

<form method="post" th:action="@{/register}" th:object="${userEntity}">
  <label for="username">Username:</label>
  <input type="text" th:field="*{username}" placeholder="username" id="username">
  <label for="password">Password:</label>
  <input type="password" th:field="*{password}" placeholder="password" id="password">

  <button type="submit">Register</button>

  <!-- Must be inside form -->
  <!-- Show Singular error -->
  <p 	th:if="${#fields.hasErrors('username')}"
        th
        :errorclass="error"
        th:errors="*{username}">
  </p>

  <!-- Shows Multiple error at ones -->
  <ul>
    <li th:each="error : ${#fields.errors('password')}" th:text="${error}" class="error">
  </ul>

  <!-- Show any error -->
  <div th:if="${#fields.hasAnyErrors()}">
    <ul>
      <li th:each="error : ${#fields.allErrors()}" th:text="${error}">

      </li>
    </ul>
  </div>
</form>
</body>
</html>